<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>CRUDJDBCServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.demo.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.demo.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>displayProduct</servlet-name>
    <servlet-class>com.demo.servlet.ShowProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayProduct</servlet-name>
    <url-pattern>/showProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>com.demo.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProduct</servlet-name>
    <url-pattern>/addNewProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editProduct</servlet-name>
    <servlet-class>com.demo.servlet.EditProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProduct</servlet-name>
    <url-pattern>/editProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>com.demo.servlet.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/updateProd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteProduct</servlet-name>
    <servlet-class>com.demo.servlet.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProduct</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
</web-app>